<!DOCTYPE html>
<html>
  <head>
	<style>
	  form {
	  margin: 100px 100px 100px 100px;
	  }
	  form {
          text-align:center;
	  }
          h1 {
          text-align:center;
          font-size:500%;
          }
          button#switch {
            height:500px;
            width:500px;
            font-size:500%;
          }
	</style>
	<title>Switch</title>
  </head>
  <body>
	<div>
	  <h1>{{v}}</h1>
	  <form>
		<button id="switch" value="{{"on" if status == "off" else "off"}}" name="status">{{"ON" if status == "off" else "OFF"}}</button>
	  </form>		 
	</div>
  </body>
</html>
	
